.container {
    width: 100%;
    margin: auto;
    text-align: center;
    /*background-color: #ddd;*/
    /*border: 1px solid #999;*/
}
#paginate {
    display: inline-block;
}
.page-link {
    margin: 10px;
    font-size: 22px;
    padding: 4px;
    display: inline-block;
}
.page-link a {
    text-decoration: none;
}

.next-link {
    display: inline-block;
}